@*@model IEnumerable<TestSystem.Models.TestAdministration.QuestionModel>
<h1>Questions</h1>
<div id ="questionList">

    @foreach (var question in Model)
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>@question.Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    @foreach (var answer in question.Answers)
                    {
                        <p></p>
                        if (answer.IsCorrect == 1)
                        {
                            @Html.RadioButton(question.Name, answer.Name, new {disabled = "true", @checked = true})
                        }
                        else
                        {
                            @Html.RadioButton(question.Name, answer.Name, new { disabled = "true"})
                        }

                        @answer.Name 
                        <br>
                    }
                </th>
            </tr>
            </tbody>
        </table>
    }
</div>*@