@model TestSystem.ViewModels.TestAdministration.TestCreateViewModel
@Styles.Render("~/Content/CreateTest.css")
@using (Ajax.BeginForm("CreateTest", "TestAdministration", null, new AjaxOptions
{
    OnSuccess = "onSuccess()",
    UpdateTargetId = "create-new-user-helper",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { @class = "create-new-test" }))
{
<h1>
    Create Test
    <button onclick="CloseCreateUser()">
        <svg viewBox="0 0 24 24">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        </svg>
    </button>
</h1>

<div class="input-holder">
    <input type="text" name="Name" required>
    <span class="input-bar"></span>
    <label>Test Name</label>
</div>
<span class="field-validation-error"><span>Test name can't be empty</span></span>

<div class='question'></div>

<section id="question-creator">
    <div class="input-holder-question">
        <input type="hidden" name="Questions.Index" value="0" />
        <div class="input-holder">
            <input type="text" name="Questions[0].Name" required>
            <span class="input-bar"></span>
            <label>Question</label>
        </div>
    </div>
    <span class="field-validation-error"><span>Question can't be empty</span></span>

    <div class="choice">
        <input type="hidden" name="Questions[0].Answers.Index" value="0" />
        <div class="input-radio-checkbox">
            <input type="radio" name="question-0" id="question-0-choice-0" checked>
            <label class="check" for="question-0-choice-0"></label>
        </div>
        <div class="input-holder">
            <input type="text" name="Questions[0].Answers[0].Name" required>
            <span class="input-bar"></span>
            <label>Choice</label>
        </div>
        <div class="remove-choice">
            <svg viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            </svg>
        </div>
    </div>
    <span class="field-validation-error"><span>Choice can't be empty</span></span>

    <div class="add-answer">
        <div class="radio-marker"></div>
        <lable>Add choice</lable>
    </div>

    <div class="question-creator-tools">
        <div>
            <svg viewBox="0 0 24 24">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" />
            </svg>
        </div>
    </div>
</section>

<button>Create</button>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/CreateTest.js")

