

<div class="test-statics-table-questions">
    <header>
        <nav>
            <h1>User List</h1>
        </nav>
    </header>
    <ul class="t-s-table-questions-main">
        <nav>
            <li>Firstname Lastname</li>
            <li>Aleksandras Judelis</li>
            <li>Aleksandras Judelis</li>
            <li>Aleksandras Judelis</li>
            <li>Aleksandras Judelis</li>
            <li>
                <p>Subtotal</p>
                <div>
                    <div>Good</div>
                    <div>Bad</div>
                </div>
            </li>
        </nav>
        <li>
            <ul>
                <li>
                    Question 1
                    <span class="tool-tip">1 klausimas</span>
                </li>
                <li>
                    Question 2
                    <span class="tool-tip">2 klausimas</span>
                </li>
                <li>
                    Question 3
                    <span class="tool-tip">3 klausimas</span>
                </li>
                <li>
                    Question 4
                    <span class="tool-tip">4 klausimas</span>
                </li>
                <li>
                    Question 5
                    <span class="tool-tip">5 klausimas</span>
                </li>
                <li>
                    Question 6
                    <span class="tool-tip">6 klausimas</span>
                </li>
                <li>
                    Question 7
                    <span class="tool-tip">7 klausimas</span>
                </li>
                <li>
                    Question 8
                    <span class="tool-tip">8 klausimas</span>
                </li>
                <li>
                    Question 9
                    <span class="tool-tip">9 klausimas</span>
                </li>
                <li>
                    Question 10
                    <span class="tool-tip">10 klausimas</span>
                </li>
            </ul>
            <ul>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
            </ul>
            <ul>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
            </ul>
            <ul>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
            </ul>
            <ul>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>O</li>
                <li>X</li>
                <li>X</li>
            </ul>
            <ul>
                <li>10</li>
                <li>5</li>
                <li>4</li>
                <li>10</li>
                <li>8</li>
                <li>7</li>
                <li>9</li>
                <li>10</li>
                <li>5</li>
                <li>10</li>
            </ul>
            <ul>
                <li>2</li>
                <li>1</li>
                <li>10</li>
                <li>5</li>
                <li>4</li>
                <li>7</li>
                <li>9</li>
                <li>7</li>
                <li>10</li>
                <li>3</li>
            </ul>
        </li>

    </ul>
    <footer>
        <div>1-10 of 100</div>
        <div>
            <svg viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
            <svg viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/TestStatisticsQuestion.js")
