@model IEnumerable<TestSystem.Models.UserTests.UserTestModel>

@Styles.Render("~/Content/UserTestList.css")

<section class="item-container">
    @foreach (var userTest in Model)
    {
    <div class="user-test">
        <h1>@userTest.Name</h1>
        <h2><label>Test time:</label>2 min</h2>
        <h2><label>Test starts:</label>@userTest.TestStart</h2>
        <a href='@Url.Action("Test", "UserTests", new { userTestId = userTest.UserTestId }, null)'>start</a>
    </div>
    }
</section>