#create-new-user-helper {
    display: flex;
    visibility: visible;
}

.test-statics-table > header > ul > li:nth-child(2),
.t-s-table-main > li > div:nth-child(2) {
    width: 200px;
}

.test-statics-table > header > ul > li:last-child,
.t-s-table-main > li > div:last-child {
    justify-content: center;
    width: 200px;
}

.test-statics-table > header > ul > li:first-child {
    width: auto;
    padding-right: 0;
}

.t-s-table-main > li > div:first-child {
    width: auto;
    padding: 17px 0px 17px 24px;
}

.selected-items {
    background: #f5fcff;
    color: #127dfa;
    font-size: 19px;
}

.test-statics-table select {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    border: 0;
}

.test-statics-table footer {
    display: none;
}

.t-s-table-main {
    max-height: 412px;
    overflow-y: auto;
}

.create-new-user > button {
    margin-top: 20px
}
