html,
body {
    height: 100%;
    margin: 0;
    padding-top: 35px;
    padding-left: 5px;
}

#TestPanel {
    height: 100%;
    width: 20%;
    float: left;
    border: 1px solid black;
}

#TestList {
    height: 70%;
    width: 100%;
    border-bottom: 1px solid black;
}

.selected {
    background-color: brown;
    color: #FFF;
}

#TestTemplateNavigation {
    height: 5%;
    width: 80%;
    margin: 0;
    float: left;
    border: 1px solid black;
}

#TestNavigation button {
        margin-left: 30px;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.content {
    height: 100%;
    width: 100%;
}

#propertiesForm {
    height: 80%;
    width: 50%;
    float: left;
    margin-left: 50px;
    background-color: lightgray;
}

#propertiesForm form {
    margin: 100px;
}

#questionList {
    max-height: 700px;
    width: 50%;
    float: left;
    margin-left: 50px;
    overflow-y:scroll;
}
#userTable {
    margin-left: 50px;
    margin-right: 50px;
}

#LoginForm {
    margin-left: 500px;
}

.navbar-default {
    background-color: #5972b6 ;
    border-color: #4c44ad ;
}
.navbar-default .navbar-brand {
    color: #fefefe ;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #9a95a0 ;
}
.navbar-default .navbar-text {
    color: #fefefe ;
}
.navbar-default .navbar-nav > li > a {
    color: #fefefe ;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9a95a0 ;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #5972b6 ;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #fefefe ;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #9a95a0 ;
    background-color: #4c44ad ;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #4c44ad ;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9a95a0 ;
    background-color: #4c44ad ;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #9a95a0 ;
    background-color: #4c44ad ;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #9a95a0 ;
    background-color: #4c44ad ;
}
.navbar-default .navbar-toggle {
    border-color: #4c44ad ;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4c44ad ;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fefefe ;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fefefe ;
}
.navbar-default .navbar-link {
    color: #fefefe ;
}
.navbar-default .navbar-link:hover {
    color: #9a95a0 ;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fefefe ;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #9a95a0 ;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #9a95a0 ;
        background-color: #4c44ad ;
    }
}