@keyframes timer-loader-width-animation-left-to-right {
    from  {transform: translate3d(-100%,0,0);}
    to {transform: translate3d(0,0,0);}
}

@keyframes timer-loader-height-animation-top-to-bottom {
    from  {transform: translate3d(0,-100%,0);}
    to {transform: translate3d(0,0,0);}
}

@keyframes timer-loader-width-animation-right-to-left {
    from  {transform: translate3d(100%,0,0);}
    to {transform: translate3d(0,0,0);}
}

@keyframes timer-loader-height-animation-bottom-to-top {
    from  {transform: translate3d(0,100%,0);}
    to {transform: translate3d(0,0,0);}
}

html, body {
    background: #eeeeee;
    height: 100%;
}

/*---------Main container-----------*/

.item-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*---------Time loader animation-----------*/

.timer-loader-top,
.timer-loader-right,
.timer-loader-bottom,
.timer-loader-left {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099ff+1,017eff+100 */
    background: #0099ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0099ff 1%, #017eff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0099ff 1%,#017eff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0099ff 1%,#017eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#017eff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.timer-loader-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    transform: translate3d(-100%,0,0);
}

.timer-loader-right {
    height: 100%;
    position: absolute;
    width: 2px;
    top: 0;
    right: 0;
    transform: translate3d(0,-100%,0);
}

.timer-loader-bottom {
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    right: 0px;
    transform: translate3d(100%,0,0);
}

.timer-loader-left {
    height: 100%;
    position: absolute;
    width: 2px;
    bottom: 0;
    left: 0;
    transform: translate3d(0,100%,0);
}

/*---------Test container-----------*/

#test-container {
    background: #ffffff;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    position: absolute;
    overflow: hidden;
}

#test-time {
    position: absolute;
    top: -140px;
    right: -140px;
    width: 170px;
    height: 150px;
    padding: 50px;
    border-radius: 50%;
    background: #283593;
    color: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099ff+1,017eff+100 */
    background: #0099ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0099ff 1%, #017eff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0099ff 1%,#017eff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0099ff 1%,#017eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#017eff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#test-time > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin: 0px 0px 10px 0px;
}

.test-name {
    padding: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #293341;
    text-transform: capitalize;
    background: #f5fcff;
    border: 1px solid;
    border-color: #EDF6FF;
}


/*---------Test Container-----------*/

.test-question {
    padding: 34px;
    display: flex;
    flex-direction: column;
}

.test-question h1 {
    margin-bottom: 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #555555;
}

.test-question h1:first-letter {
    text-transform: capitalize;
}

.test-question ul li{
    color: #a2a2a2;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
}

/*---------Radio button styling-----------*/

.test-question ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.test-question ul li label{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
    padding: 0px 0px 0px 32px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.test-question ul li:hover label{
	color: #017eff;
}

.test-question ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #a2a2a2;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.test-question ul li:hover .check {
    border: 2px solid #017eff;
}

.test-question ul li .check::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 3px;
	left: 3px;
    margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

/*---------Radio button checked-----------*/

.test-question input[type=radio]:checked ~ .check {
  border: 2px solid #017eff;
}

.test-question input[type=radio]:checked ~ .check::before{
  background: #017eff;
}

.test-question input[type=radio]:checked ~ label{
  color: #017eff;
}

/*---------Form submit button-----------*/

.test-question button {
    margin-top: 50px;
    height: 36px;
    width: 120px; 
    align-self: center;
}

/*---------Test progressbar-----------*/

.test-question-number {
    padding: 0px 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #616161;
    width: 90%;
    align-self: center;
    margin-top: 19px;
}

.test-progress-bar {
    margin: 0px 34px 34px 34px;
    align-self: center;
    width: 90%;
    height: 4px;
    background: #f5fcff;
    box-sizing: border-box;
    overflow: hidden;
}

#test-progress {
    width: 100%;
    height: 100%;
    transform: translate3d(-100%,0,0);
    transition: 1s all ease-in-out;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099ff+1,017eff+100 */
    background: #0099ff; /* Old browsers */
    background: -moz-linear-gradient(left, #0099ff 1%, #017eff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0099ff 1%,#017eff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0099ff 1%,#017eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#017eff',GradientType=1 ); /* IE6-9 */
}

/*---------Test end hider-----------*/

.test-hider {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: #017eff;
    z-index: 50;
    transition: 1s all ease-in-out;
    transform: rotate(45deg) translate3d(-100%,0,0);
}

