.item-container {
    padding-top: 64px;
    margin: 0 auto;
    width: 1150px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*---------User list-----------*/

.item-container-shadow {
    border: 1px solid #d3d3d3;
    border-bottom: 1px solid #c4c4c4;
    box-shadow: 0 1px 0 rgba(0,0,0,0.07);
}

.form-test {
    width: 100%;
    position: relative;
    background: #f5f5f5;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    cursor: pointer;
}

    .form-test:hover {
        background: #C5CAEA;
    }

    .form-test ul, .item-header, .list-controls {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #555555;
    }

        .item-header li {
            width: 200px;
            font-weight: 500;
        }

        .form-test ul:first-child li {
            width: 200px;
        }

        .form-test ul li:last-child, .item-header li:last-child {
            height: 24px;
            width: 24px;
        }

        .form-test ul li svg {
            fill: #757575;
        }

    .form-test > ul li svg:hover {
        fill: #2a272f;
    }

.item-header {
    background: #ffffff;
    padding: 0px 15px 5px 15px;
}

.form-test-bubble {
    visibility: hidden;
    padding: 5px 0px 5px 0px !important;
    background: #fafafa;
    position: absolute;
    right: 0px;
    z-index: 12;
    border-color: #444444;
    border-top-width: 0px;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,.03) 0px -1px 0px inset, rgba(0,0,0,.2) 0px 1px 3px;
    display: flex;
    flex-direction: column;
}

.form-test-bubble-arrow {
    position: absolute;
    right: 15px;
    margin-top: -12px;
    background: #fafafa;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
}

.form-test-bubble ul {
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    width: 100%;
    cursor: pointer;
    display: flex;
    z-index: 10;
}

    .form-test-bubble ul li {
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #555555;
        display: flex;
        align-content: flex-start;
    }

        .form-test-bubble ul li:nth-child(2) {
            width: 40px;
        }

        .form-test-bubble ul li svg {
            width: 24px;
            height: 24px;
        }

    .form-test-bubble ul:hover {
        background: #eeeeee;
    }

#bubble-popup-helper {
    display: none;
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
}

/*---------Pageing-----------*/

.pagination-current-page {
    text-align: center;
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #555555;
}

.pagination {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pagination li {
        margin: 0px 20px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination .active {
        color: #ffffff;
        background: #283593;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }

.PagedList-skipToPrevious, .PagedList-skipToNext {
    width: 30px;
    height: 30px;
    background-image: url("~/Resources/Icons/icon-next.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.PagedList-skipToPrevious {
    transform: rotate(180deg)
}

    .PagedList-skipToPrevious:hover, .PagedList-skipToNext:hover {
        background-color: #bebebe;
    }

    .PagedList-skipToPrevious a, .PagedList-skipToNext a {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

/*---------User list controlls-----------*/

.list-controlls {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
}

    /*---------Search box-----------*/

    .list-controlls > form {
        width: 50%;
        background: #f5f5f5;
        border-radius: 4px;
        display: flex;
    }

    .list-controlls form button {
        border: none;
        box-shadow: none;
        background: transparent;
        padding: 0px 4px 0px 4px;
        width: 56px;
        height: 46px;
        cursor: pointer;
    }

        .list-controlls form button svg {
            width: 24px;
            height: 24px;
            fill: #717171;
        }

    .list-controlls > form input {
        width: 100%;
        padding: 11px 0px 11px 16px;
        height: 24px;
        border: none;
        background: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #555555;
    }

    /*---------Buttons create user and import users-----------*/

    .list-controlls div {
        display: flex;
    }

.list-create-item, .list-import-item {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.list-import-item {
    position: relative;
}

    .list-create-item svg, .list-import-item svg {
        fill: #777777;
    }

    .list-import-item input {
        cursor: pointer;
        position: absolute;
        top: 0px;
        opacity: 0;
        width: 24px;
        height: 24px;
    }

    .list-create-item:hover, .list-import-item:hover {
        background: #bebebe;
    }

/*---------Pop up create new user-----------*/

#create-new-user-helper {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 101;
}

.create-new-user {
    box-sizing: border-box;
    padding: 40px;
    background: #f5f5f5;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
}

    .create-new-user input:first-child {
        margin-top: 0px;
    }

    .create-new-user input {
        width: 500px;
        margin-top: 30px;
    }

    .create-new-user select {
        background: transparent;
        height: 24px;
        margin-top: 30px;
        padding-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: #757575;
        transition: .1s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .create-new-user h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-new-user > button {
        margin-top: 50px;
        height: 36px;
        width: 120px;
        align-self: center;
    }

    .create-new-user h1 button {
        border: none;
        box-shadow: none;
        border-radius: 50%;
        padding: 5px;
        height: 24px;
        width: 24px;
        background: transparent;
        cursor: pointer;
    }

        .create-new-user h1 button:hover {
            background: #bebebe;
        }

        .create-new-user h1 button svg {
            fill: #717171;
        }
